@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CourseFlow.styles.css" asp-append-version="true" />
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">

            <a class="navbar-brand fw-bold" asp-page="/">
                Smart Academy
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-end" id="mainNavbar">
                <ul class="navbar-nav align-items-center">

                    @* NOT LOGGED IN *@
                    @if (!User.Identity?.IsAuthenticated ?? true)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Login">Login</a>
                        </li>
                    }
                    else
                    {
                        
                        <li class="nav-item">

                            <a class="nav-link fw-semibold"
                                asp-page="@(User.IsInRole("ADMIN")
                                            ? "/Admin/Dashboard"
                                            : User.IsInRole("STAFF")
                                                ? "/Staff/Index"
                                                : "/Dashboard")">
                                Dashboard
                            </a>

                        </li>

                        @* ADMIN *@
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanManageStudents")).Succeeded)
                        {

                            <li class="nav-item">
                                <a class="nav-link fw-semibold" asp-page="/Admin/Staff/Index">
                                    Staff
                                </a>
                            </li>


                        }
                        @if (User.IsInRole("ADMIN") || User.IsInRole("STAFF"))
                        {
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" asp-page="/Admin/Students/Index">
                                    Students
                                </a>
                            </li>
                        }
                        
                        <li class="nav-item">
                            <a class="nav-link fw-semibold" asp-page="/Courses/Index">
                                Course
                            </a>
                        </li>

                        @* COMMON *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Profile">
                                Profile
                            </a>
                        </li>

                        @if (User.IsInRole("ADMIN"))
                        {
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" asp-page="/Admin/Logbook/Index">
                                    LogBook
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-danger fw-semibold" asp-page="/Logout">
                                Logout
                            </a>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </nav>
</header>

<main class="container pb-3">
    @RenderBody()
</main>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
